NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=919392f900531a3721df98547c9ff9e6
PINATA_JWT=
BASE_MAINNET_RPC_URL=https://mainnet.base.org
BASE_MAINNET_RPC_FALLBACK_URL=https://base-rpc.publicnode.com
NEXT_PUBLIC_BASE_MAINNET_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_BASE_MAINNET_RPC_FALLBACK_URL=https://base-rpc.publicnode.com
IPFS_GATEWAY_URL=https://ipfs.io/ipfs/
